body {
  font-family: Georgia, serif;
  margin: 40px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.name-input {
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 300px;
}

.logo {
  width: 80px;
}

/* Block */
.training-block {
  display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee; /* Разделитель между упражнениями */
}

/* Left */
.left {
  width: 25%;
}
.center {
     width: 40%; 
}
.right { 
    width: 30%; 
    text-align: center;
}

.delete_button{
    padding-top: 10px;
}

.preview {
  width: 100px;
  height: auto;
  object-fit: cover;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  display: block;
}

.dots {
  display: grid;
  grid-template-columns: repeat(2, 20px);
  gap: 10px;
  margin-top: 10px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.dot.green { background: #6bbf2d; }
.dot.grey { background: #666; }

/* Center */
.field {
  margin-bottom: 10px;
}

.field label {
  display: inline-block;
  width: 120px;
}

.field input {
  border: none;
  border-bottom: 1px solid #ccc;
  width: 200px;
}

/* Right */
.right textarea {
  width: 100%;
    resize: none;
    min-height: 60px;
    border:none;
}

/* Buttons */
.actions {
  margin-top: 20px;
}

button {
  padding: 8px 14px;
  margin-right: 10px;
}

.delete {
  grid-column: span 3;
  justify-self: end;
  background: none;
  border: 1px solid #ccc;
  cursor: pointer;
}

/* PDF cleanup */
@media print {
  button,
  input[type="file"] {
    display: none;
  }

  input,
  textarea {
    border: none;
  }
}

.is-generating-pdf .delete, 
.is-generating-pdf .add,
.is-generating-pdf input[type="file"],
.is-generating-pdf .pdf {
    display: none !important; /* Прячем кнопки и поле выбора файла */
}

.is-generating-pdf input, 
.is-generating-pdf textarea {
    border: none;
    background: transparent;
    padding: 0;
}
